
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Info</h2>
<div class="container">
    <div class="row">
        <section id="contact-form" class="mt50">
            <div class="col-md-12">
                <h2 class="lined-heading"><span>@ViewBag.Title</span></h2>
                <label>@ViewBag.Message</label>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="clearfix col-md-12 mt50">
            <hr />
        </div>
    </div>
</div>

